body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-color:blueviolet;

}
.calender-container{
    background-color: white;
    width:300px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 8);
    overflow: hidden;
   
}
.month-name{
    margin: 0;
    background-color: orangered;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;

}
.day-name{
    margin: 0;
    font-size: 20px;
    font-weight: lighter;

}
.date-number{
    margin: 0;
    font-size: 35px;
    padding: 10px;
    font-weight:bold

}
.year-number{
    font-weight: bold;
    font-size: 20px;
}
